* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor {
  cursor: pointer;
}

main {
  min-height: 87dvh;
}

.slide-show-img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}
